[colors.cursor]
cursor = "CellForeground"
text = "CellBackground"

[colors.selection]
text = "CellForeground"
background = "#{{base02-hex}}"

[colors.vi_mode_cursor]
text = "CellBackground"
cursor = "CellForeground"

[colors.primary]
background = "#{{base00-hex}}"
foreground = "#{{base05-hex}}"

[colors.normal]
black = "#{{base01-hex}}"
red = "#{{base08-hex}}"
green = "#{{base0B-hex}}"
yellow = "#{{base0A-hex}}"
blue = "#{{base0D-hex}}"
magenta = "#{{base0E-hex}}"
cyan = "#{{base0C-hex}}"
white = "#{{base05-hex}}"

[colors.bright]
black = "#{{base02-hex}}"
red = "#{{base08-hex}}"
green = "#{{base0B-hex}}"
yellow = "#{{base0A-hex}}"
blue = "#{{base0D-hex}}"
magenta = "#{{base0E-hex}}"
cyan = "#{{base0C-hex}}"
white = "#{{base07-hex}}"
