desktop-color: "#{{base00-hex}}"
title-text: ""

message-color: "#{{base04-hex}}"
message-bg-color: "#{{base00-hex}}"

terminal-left: "0"
terminal-top: "0"
terminal-width: "100%"
terminal-height: "100%"
terminal-border: "0"

+ label {
    text = "nixos"
    color = "#{{base0D-hex}}"
    align = "center"
    left = 0
    top = 15%
    width = 100%
    height = 40
}

+ label {
    text = "select an entry"
    color = "#{{base04-hex}}"
    align = "center"
    left = 0
    top = 20%
    width = 100%
    height = 24
}

+ boot_menu {
    left = 25%
    width = 50%
    top = 30%
    height = 45%

    item_height = 28
    item_padding = 6
    item_spacing = 6
    item_color = "#{{base05-hex}}"
    selected_item_color = "#{{base0D-hex}}"

    icon_width = 0
    icon_height = 0
    item_icon_space = 0

    scrollbar = false
}

+ progress_bar {
    id = "__timeout__"
    left = 0
    top = 100%-18
    width = 100%
    height = 18

    show_text = true
    text_color = "{{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}"
    fg_color = "#{{base0D-hex}}"
    bg_color = "#{{base01-hex}}"
    border_color = "#{{base01-hex}}"
}
