desktop-color: "#{{base00-hex}}"
title-text: ""

message-color: "#{{base04-hex}}"
message-bg-color: "#{{base00-hex}}"

terminal-left: "0"
terminal-top: "0"
terminal-width: "100%"
terminal-height: "100%"
terminal-border: "0"

+ label {
    text = "nixos"
    color = "#{{base0D-hex}}"
    align = "center"
    left = 0
    top = 13%
    width = 100%
    height = 56
}

+ label {
    text = "select an entry"
    color = "#{{base04-hex}}"
    align = "center"
    left = 0
    top = 19%
    width = 100%
    height = 32
}

+ boot_menu {
    left = 26%
    width = 48%
    top = 30%
    height = 42%

    item_height = 38
    item_padding = 8
    item_spacing = 7
    item_color = "#{{base04-hex}}"
    selected_item_color = "#{{base0D-hex}}"

    icon_width = 0
    icon_height = 0
    item_icon_space = 0

    scrollbar = false
}

+ progress_bar {
    id = "__timeout__"
    left = 26%
    top = 82%
    width = 48%
    height = 28

    show_text = true
    text_color = "{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}"
    fg_color = "#{{base0D-hex}}"
    bg_color = "#{{base01-hex}}"
    border_color = "#{{base02-hex}}"
}

+ label {
    text = "e edit  ·  c console"
    color = "#{{base03-hex}}"
    align = "center"
    left = 0
    top = 90%
    width = 100%
    height = 28
}