desktop-color: "#{{base00-hex}}"
title-text: ""

message-color: "#{{base04-hex}}"
message-bg-color: "#{{base00-hex}}"

terminal-left: "0"
terminal-top: "0"
terminal-width: "100%"
terminal-height: "100%"
terminal-border: "0"

+ label {
    text = "nixos"
    color = "#{{base0D-hex}}"
    align = "center"
    left = 0
    top = 11%
    width = 100%
    height = 72
}

+ label {
    text = "select an entry"
    color = "#{{base04-hex}}"
    align = "center"
    left = 0
    top = 18%
    width = 100%
    height = 40
}

+ boot_menu {
    left = 27%
    width = 46%
    top = 28%
    height = 50%

    item_height = 48
    item_padding = 10
    item_spacing = 8
    item_color = "#{{base04-hex}}"
    selected_item_color = "#{{base0D-hex}}"

    icon_width = 0
    icon_height = 0
    item_icon_space = 0

    scrollbar = false
}

+ progress_bar {
    id = "__timeout__"
    left = 27%
    top = 85%
    width = 46%
    height = 36

    show_text = true
    text_color = "{{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}"
    fg_color = "#{{base0D-hex}}"
    bg_color = "#{{base01-hex}}"
    border_color = "#{{base02-hex}}"
}

+ label {
    text = "e edit  ·  c console"
    color = "#{{base03-hex}}"
    align = "center"
    left = 0
    top = 92%
    width = 100%
    height = 32
}