[General]
background=
backgroundFill=#{{base00-hex}}
backgroundFillMode=fill

font=Inter
basicTextColor=#{{base05-hex}}
hideCursor=false

passwordCharacter=•
passwordMask=true
passwordFontSize=28
passwordInputWidth=0.22
passwordInputRadius=12
passwordInputBackground=#{{base01-hex}}
passwordInputBorderWidth=1
passwordInputBorderColor=#{{base02-hex}}
passwordTextColor=#{{base07-hex}}
passwordCursorColor=#{{base0D-hex}}
passwordInputCursorVisible=true
cursorBlinkAnimation=true

wrongPasswordBorderColor=#{{base08-hex}}
wrongPasswordBorderRadius=12

showUsersByDefault=true
showUserRealNameByDefault=false
usersFontSize=16

showSessionsByDefault=true
sessionsFontSize=12

helpFont=Inter
helpFontSize=11
