{
  "scheme": "{{scheme-slug}}",
  "rgb": {
    "base00": { "red": {{base00-rgb-r}}, "green": {{base00-rgb-g}}, "blue": {{base00-rgb-b}} },
    "base01": { "red": {{base01-rgb-r}}, "green": {{base01-rgb-g}}, "blue": {{base01-rgb-b}} },
    "base02": { "red": {{base02-rgb-r}}, "green": {{base02-rgb-g}}, "blue": {{base02-rgb-b}} },
    "base03": { "red": {{base03-rgb-r}}, "green": {{base03-rgb-g}}, "blue": {{base03-rgb-b}} },
    "base04": { "red": {{base04-rgb-r}}, "green": {{base04-rgb-g}}, "blue": {{base04-rgb-b}} },
    "base05": { "red": {{base05-rgb-r}}, "green": {{base05-rgb-g}}, "blue": {{base05-rgb-b}} },
    "base06": { "red": {{base06-rgb-r}}, "green": {{base06-rgb-g}}, "blue": {{base06-rgb-b}} },
    "base07": { "red": {{base07-rgb-r}}, "green": {{base07-rgb-g}}, "blue": {{base07-rgb-b}} },
    "base08": { "red": {{base08-rgb-r}}, "green": {{base08-rgb-g}}, "blue": {{base08-rgb-b}} },
    "base09": { "red": {{base09-rgb-r}}, "green": {{base09-rgb-g}}, "blue": {{base09-rgb-b}} },
    "base0A": { "red": {{base0A-rgb-r}}, "green": {{base0A-rgb-g}}, "blue": {{base0A-rgb-b}} },
    "base0B": { "red": {{base0B-rgb-r}}, "green": {{base0B-rgb-g}}, "blue": {{base0B-rgb-b}} },
    "base0C": { "red": {{base0C-rgb-r}}, "green": {{base0C-rgb-g}}, "blue": {{base0C-rgb-b}} },
    "base0D": { "red": {{base0D-rgb-r}}, "green": {{base0D-rgb-g}}, "blue": {{base0D-rgb-b}} },
    "base0E": { "red": {{base0E-rgb-r}}, "green": {{base0E-rgb-g}}, "blue": {{base0E-rgb-b}} },
    "base0F": { "red": {{base0F-rgb-r}}, "green": {{base0F-rgb-g}}, "blue": {{base0F-rgb-b}} }
  }
}
