input {
    keyboard {
        xkb {
            options "caps:none"
        }
    }

    touchpad {
        natural-scroll
        scroll-method "two-finger"
        tap
        dwt
        click-method "clickfinger"
    }

    mouse {
        accel-profile "flat"
    }
    
    warp-mouse-to-focus
}
