layout {
    gaps 4
    center-focused-column "never"
    // Wait for https://github.com/niri-wm/niri/pull/2240 to merge
    // always-center-single-column

    default-column-display "tabbed"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    
    border {
        on
        width 3
    }

    focus-ring {
        width 1
    }

    tab-indicator {
        hide-when-single-tab
        width 4
        length total-proportion=0.33
        gaps-between-tabs 0
    }
}
