layout {
    gaps 8
    center-focused-column "never"
    always-center-single-column

    default-column-display "tabbed"
    tab-indicator {
        hide-when-single-tab
    }
    
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    
    border {
        width 4
    }

    focus-ring {
        width 1
    }

    tab-indicator {
        hide-when-single-tab
        width 5
        length total-proportion=0.33
        gaps-between-tabs 0
    }
}
