// Kanshi defines the monitor output profiles
// @TODO: Script to auto switch monitor inputs. Either when usb switcher button is pressed or when kanshi triggers profile switch
spawn-at-startup "kanshi"

// Extra settings unavailable in kanshi
output "GIGA-BYTE TECHNOLOGY CO., LTD. Gigabyte M32U 0x01010101" {
    focus-at-startup

    layout {
        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }
        
        default-column-width { proportion 0.33333; }
    }
}

output "PNP(BNQ) ZOWIE XL LCD EBLAL012665SL0" {
    layout {
        preset-window-heights {
            proportion 0.5
        }

        default-column-width { proportion 1.0; }
    }
}